################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/mobile/.github
/mobile/.claude
/mobile/.idea
/mobile/.vs
/mobile/LotteryDetection.Mobile/bin
/mobile/LotteryDetection.Mobile/obj
/mobile/LotteryDetection.Mobile.Tests/bin
/mobile/LotteryDetection.Mobile.Tests/obj
/mobile/LotteryDetectionMobile/bin
/mobile/LotteryDetectionMobile/obj
/.claude/settings.local.json